{% load widget_tweaks %}
{% block content %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div>
    <h4 class="modal-header">Add-Edit Income Head</h4>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="{{ form.incometype.id_for_label }}" class="form-label">Income Head</label>
      {% render_field form.incometype class+="form-control"  %}
    </div>
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary ">Save</button>
  </div>
</form>

{% endblock content %}