{% extends 'partials/base.html' %} 
{% load static %} 
{% load widget_tweaks %} 
{% block extra_css %}
<link
  rel="stylesheet"
  href="{% static 'assets/vendor/libs/datatables/datatables.min.css' %}"
/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css'>
<style>
  *:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  a {
    color: #369;
  }
  
  .title-text {
    margin: 2em 0;
  }
  
  .table > tbody > tr > td:nth-child(1) > i {
    margin-right: 8px;
    margin-top: 4px;
  }
  
 
  
  .entries {
    margin-top: 0;
  }
  
  .pagination {
    margin-top: 0 !important;
  }
  
  .pagination > li > a {
    background-color: white;
    color: #4676d7;
  }
  
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #036;
    background-color: #eee;
    border-color: #ddd;
  }
  
  .pagination > .active > a {
    color: white;
    background-color: #4676d7 !important;
    border: solid 1px #4676d7 !important;
  }
  
  .pagination > .active > a:hover {
    background-color: #4676d7 !important;
    border: solid 1px #4676d7;
  }
  

</style>

{% endblock extra_css %} {% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
  {% include 'pageinfo.html' %}
  <div class="card p-4">
    <form method="post" action="{% url 'search_entry_income' %}" >
        {% csrf_token %}
        <div class="row align-items-center">
          
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" for="validamount">Date</label>
                <input type="date" class="form-control" id="validamount"
                    value="" name="date" required>
                
            </div>
        </div>

        

          <div  class="pt-2 col-md-1 text-md-end">
            <button  type="submit" class="btn btn-primary">Submit</button>
          </div>


          <div style="padding: 0px 4px 4px 4px;"  class="mt-2 col-md-3 border rounded-3 d-flex flex-row  justify-content-between align-content-center ms-auto">
            <span class="fw-bold pt-2">Search Date:</span><span class="pt-1 ps-1"><input class="form-control form-control-sm text-center" type="text"
                    value="{{search_date}}" disabled></span>
          </div> 
          <div style="padding: 0px 4px 4px 4px;"  class="mt-2 col-md-2 border rounded-3 d-flex flex-row  justify-content-between align-content-center ms-auto">
            <span class="fw-bold pt-2">Income:</span><span class="pt-1 ps-1"><input class="form-control form-control-sm text-center" type="text"
                    value="{{total_income}}" disabled></span>
          </div> 
           
        </div>

    </form>
    
    <hr>

    <table class="table table-striped table-bordered w-100 pt-2" id="dataTable">
      <thead style="background-color: rgba(252, 207, 20, 0.2) !important;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Income Head</th>
            <th>Date</th>
            <th>Description</th>
            <th>Document</th>
            <th>Invoice Number</th>
            <th>Created By</th>
            <th>Updated By</th>
        </tr>
      </thead>
      <tbody>
        {% for income in incomes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ income.name }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.incometype_id }}</td>
            <td>{{ income.income_date }}</td>
            <td>{{ income.description }}</td>
            <td>
              {% if income.attach_doc %}
              <a class="text-danger" style="text-decoration: none;" href="/media/{{income.attach_doc}}" download>Download</a>
              {% else %}
              -
              {% endif %}
            </td>
            <td>{{ income.invoice_number }}</td>
            <td>{{ income.created_by }}</td>
            <td>{{ income.updated_by }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<!-- end: Content -->

{% endblock content %} 

{% block extra_javascript %}
<script src="{% static 'assets/vendor/libs/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendor/libs/datatables/datatables.min.js' %}"></script>
<script>
  pdfMake.fonts = {
    Roboto: {
      normal: 'Roboto-Regular.ttf',
      bold: 'Roboto-Medium.ttf',
      italics: 'Roboto-Italic.ttf',
      bolditalics: 'Roboto-MediumItalic.ttf'
    },
    nikosh: {
      normal: "NikoshBAN.ttf",
      bold: "NikoshBAN.ttf",
      italics: "NikoshBAN.ttf",
      bolditalics: "NikoshBAN.ttf"
    }
  };
</script>

<script>
 
 // Function to convert a Blob to a Data URL
 function blobToDataURL(blob, callback) {
  var reader = new FileReader();
  reader.onload = function(e) {
    callback(e.target.result);
  };
  reader.readAsDataURL(blob);
}

$(document).ready(function() {
   
  fetch('{{ institute.institute_logo.url }}')
    .then(response => response.blob())
    .then(blob => {
      // Convert Blob to Data URL
      blobToDataURL(blob, function(dataURL) {
        // DataTable initialization
        let table = new DataTable("#dataTable", {
          dom: "<'row'<'col-sm-12 col-md-6 mb-3'l><'col-sm-12 col-md-6 mb-3'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row '<'col-sm-12 col-md-5 mt-3'B><'col-sm-12 col-md-7 mt-3'p>>",
          paging: true,
          autoWidth: true,
          buttons: [
              "excel",
              {
                extend: "pdfHtml5",
                exportOptions: {
                  columns: ":not(:last-child)", // Exclude the last column
                },
                customize: function (doc) {
                  doc.defaultStyle = {
                    font: "nikosh",
                  };

                  // Set the table width to fit the page
                  var colCount = doc.content[1].table.body[0].length;
                  var colWidths = [];
                  for (var i = 0; i < colCount; i++) {
                    colWidths.push("*");
                  }
                  doc.content[1].table.widths = colWidths;

                  // Set page margins
                  doc.pageMargins = [10, 10, 10, 10];

                  // Center-align the table headers
                  doc.content[1].table.body[0].forEach(function (header) {
                    header.alignment = "center";
                  });

                  // Center-align the table content
                  doc.content[1].table.body.slice(1).forEach(function (row) {
                    row.forEach(function (cell) {
                      cell.alignment = "center";
                    });
                  });

                  // Set page orientation to landscape if table is too wide
                  if (colCount > 5) {
                    doc.pageOrientation = "landscape";
                  }

                  // Auto-size columns based on content
                  doc.content[1].table.body.forEach(function (row, rowIndex) {
                    row.forEach(function (cell, cellIndex) {
                      if (rowIndex === 0) {
                        cell.fillColor = "#1D1E4E";
                      }
                    });
                  });

                 
                },
              },
            ],
        });
      });
    });



});
</script>
{% endblock extra_javascript%}
