{% extends 'partials/base.html' %} 
{% load static %} 
{% block extra_css %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.3.0/select2-bootstrap-5-theme.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css'>
<style>

    #tables {
        display: flex;
        gap: 20px;
      }
      .first-table,
        .second-table {
        width: 50%;
        text-align: center;
        }
      table,
      th,
      td {
        border: .5px solid #ccc;
        border-collapse: collapse;
      }
      
      table {
        width: 100%;
      }
      
      .serial {
        width: 7%;
      }
      .number {
        width: 13%;
      }
      .total {
        width: 17%;
      }
      .name {
        width: 50%;
      }
      th {
        height: 35px;
        color: black;
      }
      tr {
        height: 35px;
      }
      td {
        padding: 0 !important;
        color: black;
      }
      
      .button_area {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
      #print_tables {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: wheat;
        font-size: 17px;
      }
      @media print {
        @page {
          size: A4;
          margin: 40px 20px 20px;
        }
      
        body {
          -webkit-print-color-adjust: exact;
          background-color: white;
        }
        #tables {
          color: black;
        }
        #tables h2,
        #tables h4 {
          color: black;
        }
      }
      

</style>

{% endblock extra_css %} {% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
  {% include 'pageinfo.html' %}
  <div class="card p-4">
    <form action="{% url 'mark_blank_sheet' %}" method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-2">
                <div class="mb-3">

                    <div class="">
                        <select class="form-select" name="exam_name_id" id="exam_name" required>
                            <option disabled selected value="">Select Exam</option>
                            {% for examname in exam_list %}
                            <option value="{{examname.id}}">{{examname.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="mb-3">
                    <div class="">
                        <select class="form-select" name="class_name_id" id="class_name" required>
                            <option disabled selected value="">Select Class</option>

                            {% for class in class_list %}
                            <option value="{{class.id}}">{{class.class_shift_id}} {{class.section_id}}</option>
                            {%endfor%}

                        </select>
                    </div>
                </div>
            </div>
            

            <div class="col-md-2">
                <div class="mb-3">
                    <div class="">
                        <select class="form-select" name="subject_name_id" id="subject_name" required>
                            <option disabled selected hidden>Select Subject</option>
                            <!-- Options will be dynamically populated using AJAX -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-2 mb-md-0">
                <button class="btn btn-primary " type="submit">Load</button>
            </div>
            
            <div class="col-md-4 d-flex justify-content-between gap-2 align-content-center">
                
                <div  class=" d-flex flex-row  gap-2 align-self-center pb-3">
                    <input class="form-control form-control" type="text" id="examname" value="{{exam_instance}}"
                        disabled>
                    <input class="form-control form-control" type="text" id="classname" value="{{class_instance}}"
                        disabled>
                    <input class="form-control form-control" type="text" id="subject" value="{{subject_instance.subject_id}}"
                        disabled>
                </div>

            </div>
        </div>


    </form>
    <hr>

    <div id="tables">
        <div class="first-table">
            <div class="">

            <h4>{{institute.institute_name}}</h4>
            <h4> {{exam_instance}}  Result</h4>
            <p class="fw-bold d-flex gap-3 justify-content-center">
                <span>Class: {{class_instance}}</span>
                <span>Subject: {{subject_instance.subject_id}}</span>
            </p>

            </div>
          
          <table>
            <tr>
              <th class="serial">R.N.</th>
              <th class="name">Student Name</th>
              {% for mark_config in mark_conf_list %}
                <th data-id="{{ mark_config.mark_type_id.id }}" data-mark-type="{{ mark_config.mark_type_id.id }}" ><span>{{ mark_config.mark_type_id }} </span> </th>
              {% endfor %}
            </tr>
            <tbody>
                {% for student_data in marks_data|slice:":20" %}
                    <tr>
                        <td>{{ student_data.student.roll_no }}</td>
                        <td class="text-start ps-1">{{ student_data.student.student_field.name }}</td>

                        {% for mark_config in mark_conf_list %}
                            <td data-id="{{ mark_config.mark_type_id.id }}" data-mark-type="{{ mark_config.mark_type_id.id }}" ></td>
                        {% endfor %}
                        
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="second-table">
            <div class="">

                <h4>{{institute.institute_name}}</h4>
                <h4> {{exam_instance}}  Result</h4>
                <p class="fw-bold d-flex gap-3 justify-content-center">
                    <span>Class: {{class_instance}}</span>
                    <span>Subject: {{subject_instance.subject_id}}</span>
                </p>
    
                </div>
            <table>
                <tr>
                    <th class="serial">R.N.</th>
                    <th class="name">Student Name</th>
                    {% for mark_config in mark_conf_list %}
                      <th data-id="{{ mark_config.mark_type_id.id }}" data-mark-type="{{ mark_config.mark_type_id.id }}" ><span>{{ mark_config.mark_type_id }} </span> </th>
                    {% endfor %}
                  </tr>
                  <tbody>
                      {% for student_data in marks_data|slice:"20:40" %}
                          <tr>
                              <td>{{ student_data.student.roll_no }}</td>
                              <td class="text-start ps-1">{{ student_data.student.student_field.name }}</td>
      
                              {% for mark_config in mark_conf_list %}
                                  <td data-id="{{ mark_config.mark_type_id.id }}" data-mark-type="{{ mark_config.mark_type_id.id }}" ></td>
                              {% endfor %}
                              
      
                          </tr>
                      {% endfor %}
                  </tbody>
            </table>
          </div>
 
      </div>

      <!-- print button -->
      <div class="button_area">
        <button id="print_tables">Print Tables</button>
      </div>
    </div>

</div>
<!-- end: Content -->

{% endblock content %} 

{% block extra_javascript %}

{% comment %} <script>
    const table1 = document.querySelector(".first-table table");

    for (let i = 1; i <= 35; i++) {
        const newRow = document.createElement("tr");

        for (let j = 0; j < 5; j++) {
        const newCell = document.createElement("td");
        newRow.appendChild(newCell);
        if (j === 0) newCell.innerHTML = i;
        }
        table1.appendChild(newRow);
    }

</script> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.2/jQuery.print.min.js"
      integrity="sha512-t3XNbzH2GEXeT9juLjifw/5ejswnjWWMMDxsdCg4+MmvrM+MwqGhxlWeFJ53xN/SBHPDnW0gXYvBx/afZZfGMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script>

$('#class_name').change(function () {
    var classId = $(this).val();
    if (classId) {
        $.ajax({
            url: '/get_class_subjects/',  // Replace with your URL to fetch subjects based on class_id
            type: 'GET',
            data: { 'class_id': classId },
            success: function (data) {
                
                $('#subject_name').empty();
                $('#subject_name').append('<option value="" selected hidden>Select Subject</option>');
                for (var i = 0; i < data.length; i++) {
                    $('#subject_name').append('<option value="' + data[i].id + '">' + data[i].subject_id__name + '</option>');
                }
            }
        });
    } else {
        // Reset the subject select field if no class is selected
        $('#subject_name').empty();
        $('#subject_name').append('<option value="" selected hidden>Select Subject</option>');
    }
});

$("#print_tables").on("click", function () {

    $("#tables").print({
    title: "Tables",
    doctype: "<!doctype html>",
    });
});

</script>
{% endblock extra_javascript%}
