{% extends 'fpartials/base.html' %} 
{% load static %} 
{% load widget_tweaks %} 
{% block extra_css %}

{% endblock extra_css %} 
{% block content %}

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Password Reset Confirm</h6>
            <h1 class="mb-5">Enter New Password To Reset Password</h1>
        </div>
        <div class="row g-4">
            <div>
				<form method="post">
					{% csrf_token %}
					
					{% for field in form %}
						{{ field.label_tag }} 
						{% render_field field class="form-control" %}
						{% if field.errors %}
							<small class="text-danger">{{ field.errors|striptags }}</small> 
						{% endif %}
					{% endfor %}
					
					<div class="form-buttons pt-2">
						<input type="submit" value="Send" class="btn btn-primary">
						<a href="{% url 'login' %}" class="btn btn-secondary">Cancel</a>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %} 
{% block extra_javascript %} 
{% endblock extra_javascript%}