{% extends 'fpartials/base.html' %} 
{% load static %} 
{% block extra_css %}

{% endblock extra_css %} 
{% block content %}

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <div class="card-body">
            <h2>Reset Password</h2>
            <p>Please check your inbox and follow the instruction to reset your password.</p>
          </div>

        </div>
        
    </div>
</div>
<!-- Contact End -->

{% endblock content %} 
{% block extra_javascript %} 
{% endblock extra_javascript%}