{% load static %}
{% block footer %}

<footer class="content-footer footer" style="background-color: #0f5650; color: #fff;">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
      ©
      <script>document.write(new Date().getFullYear());</script>
      , BIDYATek made by
      <a href="http://pepoltek.com/" target="_blank" class="footer-link fw-medium" style="color: #a7f3d0;">PEPOLTEK</a>
    </div>
    <div class="d-none d-lg-inline-block">
      <a href="https://bidyatek.com/" target="_blank" class="footer-link me-4" style="color: #a7f3d0;">BIDYATek</a>
      <a href="#" target="_blank" class="footer-link me-4" style="color: #a7f3d0;">Contact Us</a>
      <a href="#" target="_blank" class="footer-link me-4" style="color: #a7f3d0;">Support</a>
    </div>
  </div>
</footer>

{% endblock footer %}
