{% extends 'partials/base.html' %} 
{% load static %} 
{% load widget_tweaks %}
{% block extra_css %} 

{%endblock extra_css %} 

{% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
    {% include 'pageinfo.html' %}
    
    <div class="card ">
        
        <div class="card-body">
            <div class="d-flex border-bottom pb-2 justify-content-between">
                <div class="h4">Mark Config</div>
                <div class="form-group d-none d-md-block">
                    <input class="form-control" type="text" id="searchName" ng-model="searchName" placeholder="Type name to search" />
                </div>
    
            </div>
            
            
    
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0">
                    <thead class="teal-thead">
                        <tr>
                            
                            <th scope="col">ID</th>
                            <th scope="col">Class</th>
                            <th scope="col">Group</th>
                            <th class="text-end" scope="col">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for class in classlist %}
                        <tr>
                            
                            <td>
                                {{forloop.counter}}
                            </td>
                            
                            <td>
                                {{class.class_id}} 
                            </td>

                            <td>
                                {{class.group_id}} 
                            </td>

                            
                            <td class="text-end">
                                <a href="{% url 'create_mark_conf' class.id %}" type="button" class="btn btn-primary">Add Mark Config</a>
                            </td>
                            
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>
 
  
</div>
<!-- end: Content -->

{% endblock content %} 
{% block extra_javascript %} 


    
{% endblock extra_javascript%}
