

<div class="d-flex justify-content-between pb-0">
  <div class="p-2 align-items-center">
    <button class="btn btn-primary" hx-get="{% url 'add_holiday' %}" hx-target="#holidaydialog"> 
      <i class='bx bx-plus-circle me-2'></i>
      Add
    </button>
  </div>
  <div class="d-flex"> 
    <div class="form-group d-none d-md-block">
      <input class="form-control" type="text" id="searchName" ng-model="searchName" placeholder="Type name to search" />
    </div>
  </div>
</div>

<div class="table-responsive card-body">
<table class="table table-nowrap mb-0">
  <thead style="background-color: rgba(252, 207, 20, 0.2) !important;">
    <tr class="shadow-sm">
      <th>#</th>
      <th class="text-nowrap">Holiday Name </th>
      <th>Date </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for holiday in holidayList %}

    <tr>
      <td>
        {{forloop.counter}}
      </td>
      <td>
        {{holiday.name}}
      </td>
      <td>
        {{holiday.holiday_date|date:"d-m-Y"}}
      </td>

      <td>
        <div class="dropdown">
          <button
            type="button"
            class="btn p-0 dropdown-toggle hide-arrow"
            data-bs-toggle="dropdown"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              href="javascript:void(0);"
              hx-get="{% url 'edit_holiday' pk=holiday.pk %}"
              hx-target="#holidaydialog"
              ><i class="bx bx-edit-alt me-1"></i> Edit</a
            >
            <a
              class="dropdown-item"
              hx-delete="{% url 'del_holiday' pk=holiday.pk %}"
              href="javascript:void(0);"
              hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
              hx-target="#holidayadd"
              hx-confirm="are you want to delete?"
              ><i class="bx bx-trash me-1"></i> Delete</a
            >
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
