<div class="col-lg-12">
  <div class="py-4">
    <h4 class="teal-thead" class="card-title mb-4">Group List</h4>

    <div class="table-responsive">
      <table class="table table-centered table-nowrap mb-0">
        <thead>
          <tr>
           
            <th scope="col">ID</th>
            <th scope="col">Group Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for group in listgroup %}
          <tr>
           
            <td>{{forloop.counter}}</td>

            <td>{{group.name}}</td>

            <td>
              <a
                href="#"
                hx-get="{% url 'editgroup' pk=group.pk %}"
                hx-target="#dialog"
                class="btn btn-sm btn-primary btn-edit me-1 px-2 mb-md-0"
                title="Edit"
                data-toggle="tooltip"
                >Edit</a
              >
              <a
                href="#"
                hx-delete="{% url 'delgroup' pk=group.pk %}"
                hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                hx-target="#groupadd" 
                hx-confirm="are you want to delete?"
                class="btn btn-sm btn-danger btn-delete px-2"
                title="Delete"
                data-toggle="tooltip"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- end card -->
</div>
<!-- end col -->
