{% extends 'partials/base.html' %}

{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
  {% include 'pageinfo.html' %}
  <!-- Filter Form -->
  <div class="card p-4">
    <h2 class="text-center text-primary">Subject-Wise Fail Report</h2>
    <form method="get" action="">
      <div class="row">
        <!-- Class Selection -->
        <div class="col-md-4">
          <label class="font-weight-bold" for="class_id">Select Class:</label>
          <select id="class_id" name="class_id" class="form-control" required>
            <option value="">Select Class</option>
            {% for class in class_list %}
            <option value="{{ class.id }}" {% if class.id|stringformat:"s" == selected_class_id %}selected{% endif %}>
              {{ class }}
            </option>
            {% endfor %}
          </select>
        </div>


        <!-- Exam Selection -->
        <div class="col-md-4">
          <label class="font-weight-bold" for="exam_id">Select Exam:</label>
          <select id="exam_id" name="exam_id" class="form-control" required>
            <option selected disabled value="">Select Exam</option>
            {% for exam in exam_list %}
            <option value="{{ exam.id }}" {% if exam.id|stringformat:"s" == selected_exam_id %}selected{% endif %}>
              {{ exam.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 mt-4">
          <button type="submit" class="btn btn-primary px-4">Generate Report</button>
        </div>
      </div>
      
    </form>
  </div>

  <!-- Report Table -->
  {% if results %}
  <div class="card mt-4 p-4">
    <h2 class="text-center text-danger">Failed Students List</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">#</th>
          <th>Student Name</th>
          <th>Roll</th>
          <th>Subjects Failed</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td class="text-center">{{ result.sn }}</td>
          <td>{{ result.student_name }}</td>
          <td>{{ result.roll_no }}</td>
          <td>{{ result.subjects }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-center text-danger mt-5">No failed students found for the selected criteria.</p>
  {% endif %}
</div>
{% endblock %}
