{% extends 'partials/base.html' %} 
{% load static %} 
{% block extra_css %}

<link
  rel="stylesheet"
  href="{% static 'assets/vendor/libs/datatables/datatables.min.css' %}"
/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
  *:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  a {
    color: #369;
  }
  
  .title-text {
    margin: 2em 0;
  }
  
  .table > tbody > tr > td:nth-child(1) > i {
    margin-right: 8px;
    margin-top: 4px;
  }
  
 
  
  .entries {
    margin-top: 0;
  }
  
  .pagination {
    margin-top: 0 !important;
  }
  
  .pagination > li > a {
    background-color: white;
    color: #4676d7;
  }
  
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #036;
    background-color: #eee;
    border-color: #ddd;
  }
  
  .pagination > .active > a {
    color: white;
    background-color: #4676d7 !important;
    border: solid 1px #4676d7 !important;
  }
  
  .pagination > .active > a:hover {
    background-color: #4676d7 !important;
    border: solid 1px #4676d7;
  }
  

</style>

{% endblock extra_css %} {% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
  {% include 'pageinfo.html' %}
  <div class="card p-4">
    <form method="post" action="{% url 'search_date_range_withdraw' %}" >
        {% csrf_token %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <div id="reportrange" name="reportrange" style="background: #fff; cursor: pointer;padding: 5px 10px; border: 1px solid #ccc;border-radius: 6px; width: 100%">
              <i class='bx bx-calendar'></i>&nbsp;
              <span></span> <i class="fa fa-caret-down"></i>
            </div>
            <input type="hidden" id="start_date" name="start_date">
            <input type="hidden" id="end_date" name="end_date">
          </div>
      
          <div  class="col-md-1 mt-2 mt-md-0 text-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <div style="padding: 0px 4px 4px 4px;"  class="mt-2 col-md-3 border rounded-3 d-flex flex-row  justify-content-between align-content-center ms-auto">
            <span class="fw-bold pt-2">Total Withdraw:</span><span class="pt-1 ps-1"><input class="form-control form-control-sm text-center" type="text"
                    value="{{total_withdraw}}" disabled></span>
          </div>
        </div>
    </form>
    <hr>

    <table class="table table-striped table-bordered w-100 pt-2" id="dataTable">
      <thead style="background-color: rgba(252, 207, 20, 0.2) !important;">
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Received_ By</th>
            <th>Date</th>
            <th>Note</th>
            <th>Created By</th>
            <th>Updated By</th>
        </tr>
      </thead>
      <tbody>
        {% for withdraw in withdraws %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ withdraw.amount }}</td>
            <td>{{ withdraw.received_by }}</td>
            <td>{{ withdraw.created_at }}</td>
            <td>{{ withdraw.note }}</td>
            <td>{{ withdraw.created_by }}</td>
            <td>{{ withdraw.updated_by }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<!-- end: Content -->

{% endblock content %} 

{% block extra_javascript %}
<script src="{% static 'assets/vendor/libs/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendor/libs/datatables/datatables.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
  pdfMake.fonts = {
    Roboto: {
      normal: 'Roboto-Regular.ttf',
      bold: 'Roboto-Medium.ttf',
      italics: 'Roboto-Italic.ttf',
      bolditalics: 'Roboto-MediumItalic.ttf'
    },
    nikosh: {
      normal: "NikoshBAN.ttf",
      bold: "NikoshBAN.ttf",
      italics: "NikoshBAN.ttf",
      bolditalics: "NikoshBAN.ttf"
    }
  };
</script>
<script>
 
 // Function to convert a Blob to a Data URL
 function blobToDataURL(blob, callback) {
  var reader = new FileReader();
  reader.onload = function(e) {
    callback(e.target.result);
  };
  reader.readAsDataURL(blob);
}

$(document).ready(function() {
   
  fetch('{{ institute.institute_logo.url }}')
    .then(response => response.blob())
    .then(blob => {
      // Convert Blob to Data URL
      blobToDataURL(blob, function(dataURL) {
        // DataTable initialization
        let table = new DataTable("#dataTable", {
          dom: "<'row'<'col-sm-12 col-md-6 mb-3'l><'col-sm-12 col-md-6 mb-3'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row '<'col-sm-12 col-md-5 mt-3'B><'col-sm-12 col-md-7 mt-3'p>>",
          paging: true,
          autoWidth: true,
          buttons: [
              "excel",
              {
                extend: "pdfHtml5",
                exportOptions: {
                  columns: ":not(:last-child)", // Exclude the last column
                },
                customize: function (doc) {
                  doc.defaultStyle = {
                    font: "nikosh",
                  };

                  // Set the table width to fit the page
                  var colCount = doc.content[1].table.body[0].length;
                  var colWidths = [];
                  for (var i = 0; i < colCount; i++) {
                    colWidths.push("*");
                  }
                  doc.content[1].table.widths = colWidths;

                  // Set page margins
                  doc.pageMargins = [10, 10, 10, 10];

                  // Center-align the table headers
                  doc.content[1].table.body[0].forEach(function (header) {
                    header.alignment = "center";
                  });

                  // Center-align the table content
                  doc.content[1].table.body.slice(1).forEach(function (row) {
                    row.forEach(function (cell) {
                      cell.alignment = "center";
                    });
                  });

                  // Set page orientation to landscape if table is too wide
                  if (colCount > 5) {
                    doc.pageOrientation = "landscape";
                  }

                  // Auto-size columns based on content
                  doc.content[1].table.body.forEach(function (row, rowIndex) {
                    row.forEach(function (cell, cellIndex) {
                      if (rowIndex === 0) {
                        cell.fillColor = "#1D1E4E";
                      }
                    });
                  });
                },
              },
            ],
        });
      });
    });



    $(function() {

        var start = moment().subtract(29, 'days');
        var end = moment();
    
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            $('#start_date').val(start.format('YYYY-MM-DD'));
            $('#end_date').val(end.format('YYYY-MM-DD'));

            console.log('start_date:', start.format('YYYY-MM-DD'));
            console.log('end_date:', end.format('YYYY-MM-DD'));
        }
    
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    
        cb(start, end);
    
    });

});
</script>
{% endblock extra_javascript%}
