{% extends 'partials/base.html' %} 
{% load static %} 
{% load widget_tweaks %}
{% block extra_css %} 

{%endblock extra_css %} 

{% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
    {% include 'pageinfo.html' %}
    
    <div class="card ">
        <div class="card-body">

            <div style="background-color:rgba(105, 108, 255, 0.16) !important ; " class="mx-auto mb-3 rounded  ">
                <div class="py-2 px-3 d-flex justify-content-between align-items-center text-primary fw-bold">
                    <p>Class Name: {{class_instance}}</p> 
                    
                    <p>
                        <a href="{% url 'list_subject_conf' %}" type="button" class="btn btn-warning">List Subject Assign</a>
                    </p>
                    
                </div>
                
            </div>

            <div class=" overflow-hidden mb-4" >
                <div  id="horizontalformset">
                    <form method="post" action="#" id="routine-formset">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <div class="formset" id="formset-container">
                          {% for form in formset.forms %}
                          <div class="mb-3 d-flex justify-content-between gap-1">
                            {{ form.id }}
                            
                            <div class="d-flex gap-1 align-items-center col-md-2 ">
                                <label for="{{ form.subject_id.id_for_label }}" class="form-label">Subject:</label>
                                {% render_field form.subject_id class+="form-control" %}
                            </div>
        
        
                            <div class=" d-flex gap-1 align-items-center col-md-2 ">
                                <label for="{{ form.subject_type.id_for_label }}" class="form-label">Type:</label>
                                {% render_field form.subject_type class+="form-control" %}
                            </div>
                            <div class=" d-flex gap-1 align-items-center col-md-2 ">
                                <label for="{{ form.subject_Serial.id_for_label }}" class="form-label">Serial:</label>
                                {% render_field form.subject_Serial class+="form-control" %}
                            </div> 
                            <div class=" d-flex gap-1 align-items-center col-md-2 ">
                                <label for="{{ form.subject_marge.id_for_label }}" class="form-label">Subject Marge:</label>
                                {% render_field form.subject_marge class+="form-control" %}
                            </div> 
                            <div class=" d-flex gap-1 align-items-center col-md-2 ">
                                <label for="{{ form.mark.id_for_label }}" class="form-label">Mark:</label>
                                {% render_field form.mark class+="form-control" %}
                            </div>
                            <div class="d-flex gap-1 align-items-center col-md-2 align-self-center text-end ">
                                {% if form.instance.pk %}
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ form.instance.pk }}">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal" id="exampleModal{{ form.instance.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ form.instance.pk }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel{{ form.instance.pk }}">Are You Sure You Want To Delete This?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button> 
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{% url 'del_subject_conf' form.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <button type="button" class="btn btn-danger" disabled>
                                        Delete
                                    </button>
                                {% endif %}
                            </div>
                            
                          </div>
                          
                          
                          {% endfor %}
                        </div>
        
                        {% if formset.errors %}
                            <div class="alert alert-danger">
                                {{ formset.errors }}
                            </div>
                        {% endif %}
                        
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
            </div>


        </div>


    </div>
 
  
</div>
<!-- end: Content -->

{% endblock content %} 
{% block extra_javascript %} 
<script src="{% static 'assets/js/extended-ui-perfect-scrollbar.js' %}"></script>
<script>
    
</script>
    
{% endblock extra_javascript%}
