{% extends 'partials/base.html' %} 
{% load static %} 
{% block extra_css %}

{% endblock extra_css %} 
{% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
  {% include 'pageinfo.html' %}

  <div class="card">
    <div class="row card-body mt-1" id="contentadd" hx-get="{% url 'page_content_list' %}"
            hx-trigger="load, contentChanged from:body">
            <!-- list class -->
    </div>

    <!-- modal settings -->

    <div id="contentmodal" class="modal">
        <div id="contentdialog" class="modal-dialog modal-dialog-centered" hx-target="this">

        </div> 
    </div>
  </div>
</div>
<!-- end: Content -->

{% endblock content %} {% block extra_javascript %}

<script src="https://unpkg.com/htmx.org@1.8.4"></script>


<script>
    ; (function () {
        const modal = new bootstrap.Modal(document.getElementById("contentmodal"))

        htmx.on("htmx:afterSwap", (e) => {
            // Response targeting #dialog => show the modal
            if (e.detail.target.id == "contentdialog") {
                modal.show()
            }
        })

        htmx.on("htmx:beforeSwap", (e) => {
            // Empty response targeting #dialog => hide the modal
            if (e.detail.target.id == "contentdialog" && !e.detail.xhr.response) {
                modal.hide()
                e.detail.shouldSwap = false
                if (e.detail.xhr.getResponseHeader("HX-Trigger")) {
                    // Extract the 'HX-Trigger' header value (which is a JSON string)
                    const hxTriggerHeader = e.detail.xhr.getResponseHeader("HX-Trigger");
          
                    if (hxTriggerHeader) {
                      const hxTriggerData = JSON.parse(hxTriggerHeader);
          
                      if (hxTriggerData.messages === "Success") {
                        
                          htmx.trigger("#pageinfo", "refresh");
                          
                      }
                    }
                  }
            }
        })

        // Remove dialog content after hiding
        htmx.on("hidden.bs.modal", () => {
            document.getElementById("contentdialog").innerHTML = ""
        })
    })()
</script>


{% endblock extra_javascript%}
