{% extends 'partials/base.html' %} 
{% load static %} 
{% load template_tags %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-icons.css' %}" />

{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock extra_css %} 

{% block content %}

<!-- start: Content -->
<div class="container-fluid flex-grow-1 container-p-y">
  <!-- Basic Layout -->
  <!-- detials_attendance_notice -->
  <div class="row details_attendance_notice justify-content-center">
    <!-- student details -->
    <div class="col-lg-3 col-md-6 col-12 student_details position-relative">
      <div class="position-absolute edit__icon">
        <i class='bx bx-dots-vertical' ></i>
      </div>
      <div class="shadow p-2 py-3 mb-3 rounded bg-white">
        {% if user.is_authenticated %}
        <div class="d-flex flex-column justify-content-start gap-1 align-items-center">
          <div class="img_wrapper rounded-circle">
            {% if user.avatar %}
            <img src="{{user.avatar.url}}" alt="avatar" />
            {% else %}
            <img src="{% static 'assets/img/avatars/user.png' %}" alt="avatar" />
            {% endif %}
          </div>
          <h3 class="name fs-6 rounded w-100 text-white py-1 text-center mt-2 mb-1">
            {{user.name}}
          </h3>
          <div class="table_wrapper w-100 rounded">
            <table class="">
              <tbody>
                <tr>
                  <th>Reg No</th>
                  <td>{{user.user_id}}</td>
                </tr>
                <tr>
                  <th>User Type</th>
                  <td>
                    {% for group_for in request.user.groups.all %}
                      {% if group_for.name == 'parent' %}
                          <p class="text-primary">Parent</p>
                      {% elif group_for.name == 'staff' %}
                          <p class="text-primary">Staff</p>
                      {% elif group_for.name == 'student' %}
                          <p class="text-primary">Student</p>
                      {% elif group_for.name == 'teacher' %}
                          <p class="text-primary">Teacher</p>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% comment %} <tr>
                  <th>Designation</th>
                  <td>Principal</td>
                </tr> {% endcomment %}
                <tr>
                  <th>Phone No</th>
                  <td>0{{user.phone_number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

        <!-- attendance info graph -->
        <div class="col-lg-3 col-md-6 col-12 attendance_info">
          <div class="shadow mb-3 rounded bg-white">
            <div class="heading rounded-top pb-3 px-3 text-white">
              <h5 class="m-0">Attendance & Leave Information</h5>
            </div>
            <div
              class="student_teacher_attendance flex-sm-nowrap flex-wrap p-3 d-flex gap-3 justify-content-center">
              <!-- student attendance graph -->
              <div class="dropdown attendance py-3 w-100 w-sm-50 rounded student_attendance position-relative">
                <div class="dropdown-toggle dots position-absolute" id="dropdownMenuButton5"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-horizontal' ></i>
                </div>
                <div class="edit_details_overlay bg-white rounded shadow position-absolute dropdown-menu"
                  aria-labelledby="dropdownMenuButton5">
                  <ul class="list-unstyled">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">View Details</a></li>
                  </ul>
                </div>
                <div
                  class="d-flex align-items-center justify-content-center position-relative pieChart_wrapper__holder">
                  <div class="pieChart_wrapper">
                    <canvas id="myChart"></canvas>
                  </div>
                  <div class="total position-absolute top-50 start-50 text-center">
                    <p class="fw-medium">Total</p>
                    <p class="amount"></p>
                  </div>
                </div>
                <div class="chart_info mb-2">
                  <h6 class="text-center mt-1 mb-3 mb-md-0 mb-lg-3">
                    Students
                  </h6>
                </div>

                <div class="present_absent mt-2 px-1 d-flex align-items-center justify-content-between">
                  <div class="present item">
                    <p class="present_title">Present</p>
                    <p class="present_number">310</p>
                  </div>
                  <div class="present border-start border-primary" style="width: 1px; height: 40px"></div>
                  <div class="absent item">
                    <p class="absent_title">Absent</p>
                    <p class="absent_number">45</p>
                  </div>
                </div>
              </div>
              <!-- teacher attendance graph -->
              <div class="dropdown attendance w-100 w-sm-50 py-3 rounded teacher_attendance position-relative">
                <div class="dropdown-toggle dots position-absolute" id="dropdownMenuButton5"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class='bx bx-dots-horizontal' ></i>
                </div>
                <div class="edit_details_overlay bg-white rounded shadow position-absolute dropdown-menu"
                  aria-labelledby="dropdownMenuButton5">
                  <ul class="list-unstyled">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">View Details</a></li>
                  </ul>
                </div>
                <div
                  class="d-flex align-items-center justify-content-center position-relative pieChart_wrapper__holder">
                  <div class="pieChart_wrapper">
                    <canvas id="myChart2"></canvas>
                  </div>
                  <div class="total position-absolute top-50 start-50 text-center">
                    <p class="fw-medium">Total</p>
                    <p class="amount"></p>
                  </div>
                </div>
                <div class="chart_info">
                  <h6 class="text-center mt-1 mb-3 mb-md-0 mb-lg-3">
                    Teacher
                  </h6>
                </div>
                <div class="present_absent mt-2 px-1 d-flex align-items-center justify-content-between">
                  <div class="present item">
                    <p class="present_title">Present</p>
                    <p class="present_number">300</p>
                  </div>
                  <div class="present border-start border-warning" style="width: 1px; height: 40px"></div>
                  <div class="absent item">
                    <p class="absent_title">Absent</p>
                    <p class="absent_number">45</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- notices and events -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="shadow mb-3 rounded bg-white">
            <div class="heading rounded-top pb-3 px-3 text-white">
              <h5 class="m-0">Notice</h5>
            </div>

            <div class="notices">
              <ul class="list-unstyled">
                {% for notice in upcoming_notices %}
                <li>
                  <span class="badge text-bg-warning">{{notice.date}} </span> - <span class="badge text-bg-success" > {{notice.notice_title}}</span>
                  <p class="">
                    {{notice.notice_description}} 
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="text-end pe-2">
              <a href="{% url 'fnot' %}" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
        <!-- notices and events -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="shadow mb-3 rounded bg-white">
            <div class="heading rounded-top pb-3 px-3 text-white">
              <h5 class="m-0">Events</h5>
            </div>

            <div class="notices">
              <ul class="list-unstyled">
                {% for event in upcoming_events %}
                <li>
                  <span class="badge text-bg-success">{{event.start}} </span> - <span class="badge text-bg-success" > {{event.start}}</span>
                  <p class="">
                    {{event.title}}
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="text-end pe-2">
              <a href="{% url 'event_detail' %}" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
   
  </div>


</div>
  
  





{% endblock content %} 
{% block extra_javascript %}  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'assets/js/extended-ui-perfect-scrollbar.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  $(document).ready(function () {
      $("#submitBtn").click(function () {
          var formData = $("#sessionForm").serialize();

          $.ajax({
              url: "/set_session_year/",  // Update the URL based on your Django project
              type: "POST",
              data: formData,
              dataType: "json",
              success: function (data) {
                  if (data.success) {
                    $('#myModal').modal('show');

                        // Automatically close the modal after 2000 milliseconds (2 seconds)
                        setTimeout(function () {
                            $('#myModal').modal('hide');
                        }, 1000);
                  } else {
                      // Handle failure, e.g., display an error message
                      alert(data.message);
                  }
              },
              error: function () {
                  // Handle AJAX error
                  alert("Session Year Not Valid !!!");
              }
          });
      });
  });


</script>


  <!-- js for pie chart -->
  <script>
    const ctx = document.getElementById("myChart");
    const ctx2 = document.getElementById("myChart2");
    const ctx3 = document.getElementById("myChart3");
    const ctx4 = document.getElementById("myChart4");

    const studentData = {
      labels: ["Present", "Absent"],
      datasets: [
        {
          label: "",
          borderWidth: 0,
          data: [300, 45],
          backgroundColor: ["#77DF40", "#FF3E1D"],
          hoverOffset: 2,
        },
      ],
    };

    // student attendance chart

    const studentAttendancePieChart = new Chart(ctx, {
      type: "doughnut",
      data: studentData,
      options: {
        responsive: true,
        backgroundColor: "#fff",
        cutout: "75%",
        radius: 48,
        plugins: {
          legend: {
            display: false,
            position: "bottom",
          },
          title: {
            display: false,
            text: "Students",
          },
        },
      },
    });

    document.querySelector(".student_attendance .present_title").style.color =
      studentData.datasets[0].backgroundColor[0];
    document.querySelector(".student_attendance .absent_title").style.color =
      studentData.datasets[0].backgroundColor[1];
    document.querySelector(".student_attendance .total .amount").textContent =
      studentData.datasets[0].data[0] + studentData.datasets[0].data[1];

    // teacher attendance chart

    const teacherData = {
      labels: ["Present", "Absent"],
      datasets: [
        {
          label: "",
          borderWidth: 0,
          data: [300, 45],
          backgroundColor: ["#77DF40", "#FF3E1D"],
          hoverOffset: 2,
        },
      ],
    };

    const teacherAttendancePieChart = new Chart(ctx2, {
      type: "doughnut",
      data: teacherData,
      options: {
        responsive: true,
        backgroundColor: "#fff",
        cutout: "75%",
        radius: 48,
        plugins: {
          legend: {
            display: false,
            position: "bottom",
          },
          title: {
            display: false,
            text: "Students",
          },
        },
      },
    });
    document.querySelector(".teacher_attendance .present_title").style.color =
      studentData.datasets[0].backgroundColor[0];
    document.querySelector(".teacher_attendance .absent_title").style.color =
      studentData.datasets[0].backgroundColor[1];
    document.querySelector(".teacher_attendance .total .amount").textContent =
      studentData.datasets[0].data[0] + studentData.datasets[0].data[1];

       // staff attendance chart

    const staffData = {
      labels: ["Present", "Absent"],
      datasets: [
        {
          label: "",
          borderWidth: 0,
          data: [300, 45],
          backgroundColor: ["#77DF40", "#FF3E1D"],
          hoverOffset: 2,
        },
      ],
    };

    const staffAttendancePieChart = new Chart(ctx3, {
      type: "doughnut",
      data: staffData,
      options: {
        responsive: true,
        backgroundColor: "#fff",
        cutout: "75%",
        radius: 48,
        plugins: {
          legend: {
            display: false,
            position: "bottom",
          },
          title: {
            display: false,
            text: "Students",
          },
        },
      },
    });
    document.querySelector(".staff_attendance .present_title").style.color =
      studentData.datasets[0].backgroundColor[0];
    document.querySelector(".staff_attendance .absent_title").style.color =
      studentData.datasets[0].backgroundColor[1];
    document.querySelector(".staff_attendance .total .amount").textContent =
      studentData.datasets[0].data[0] + studentData.datasets[0].data[1];

    // student payment chart

    const student_payment_data = {
      labels: ["Paid", "Unpaid"],
      datasets: [
        {
          label: "",
          borderWidth: 0,
          data: [300, 45],
          backgroundColor: ["#77DF40", "#FF3E1D"],
          hoverOffset: 2,
        },
      ],
    };

    const studentPaymentPieChart = new Chart(ctx3, {
      type: "doughnut",
      data: student_payment_data,
      options: {
        responsive: true,
        backgroundColor: "#fff",
        cutout: "75%",
        radius: 50,
        plugins: {
          legend: {
            display: false,
            position: "bottom",
          },
          title: {
            display: false,
            text: "Payment",
          },
        },
      },
    });

    document.querySelector("#myChart3 .total .amount").textContent = studentData.datasets[0].data[0] + studentData.datasets[0].data[1];
  </script>

  <!-- edit details toggle by three dots -->


{% endblock extra_javascript%}
