

<div class="d-flex justify-content-between px-4 pb-0">
  <div class=" align-items-center">
    <button class="btn btn-primary" hx-get="{% url 'add_deduction' %}" hx-target="#deductiondialog"> 
      <i class='bx bx-plus-circle me-2'></i>
      Add
    </button>
  </div>
  <div class="d-flex">
    <div class="form-group d-flex">
      <label for="searchName" class=" text-nowrap align-self-center m-2">Search:</label>
      <input class="form-control" type="text" id="searchName" ng-model="searchName" placeholder="Type name to search" />
    </div>
  </div>
</div>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-nowrap">
      <thead class="teal-thead">
        <tr class="shadow-sm">
          <th>#</th>
          <th>Deduction Name </th>
          <th>Is every month? </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for deduction in deductionTypelist %}

        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{deduction.deduction_type}}
          </td>

          <td>
            {{deduction.is_every_month}}
          </td>

          <td>
            <div class="dropdown">
              <button
                type="button"
                class="btn p-0 dropdown-toggle hide-arrow"
                data-bs-toggle="dropdown"
              >
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="javascript:void(0);"
                  hx-get="{% url 'edit_deduction' pk=deduction.pk %}"
                  hx-target="#deductiondialog"
                  ><i class="bx bx-edit-alt me-1"></i> Edit</a
                >
                <a
                  class="dropdown-item"
                  hx-delete="{% url 'del_deduction' pk=deduction.pk %}"
                  href="javascript:void(0);"
                  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                  hx-target="#deductionadd"
                  hx-confirm="are you want to delete?"
                  ><i class="bx bx-trash me-1"></i> Delete</a
                >
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
